/* fonts */
/*
@font-face {
    font-family: "Cuprum";
      font-weight: 400;
    font-style: normal;
      src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
  }
*/

/* variables */
:root {
    --white: #ffffff;
    --bg: #E5E5E5;
    --bg-base: #F9FDFF;
    --black: #000000;
    --black-lg: #333333;
    --text-black: #0E0E0F;
    --green-1: #00B9B6;
    --green-2: #00CDAC;
    --gray: #2E3A59;
    --orange: #FFA800;
    --lt-blue: rgba(0, 185, 182, 0.1);
}

/* base */

html,
body {
    margin: 0;
    padding: 0;
    min-width: 360px;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: var(--black-lg);
    /* background: rgba(249, 253, 255, 0.7); */
    background-color: var(--bg-base);
    backdrop-filter: blur(700px);
}

input,
textarea,
select,
button {
    font: inherit;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}

.btn {
    display: inline-block;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--white);

    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn--act {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 30px 14px;

    font-size: 18px;

    background: linear-gradient(225deg, var(--green-1) 0%, var(--green-2) 100%);
    box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
    border-radius: 12px;
}

.btn--mdl {
    padding: 10px 30px;
    font-weight: 700;
    font-size: 14px;
}

.btn--small {
    padding: 8px 15px;
    font-size: 12px;
}

.container {
    min-width: 360px;
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}

/*
@media (min-width: @tablet-width) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    max-width: 1300px;
    padding: 0 40px;
  }
}
*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* test */

* {
    outline: 1px solid gray;
}

/* header */

.header {
    padding-top: 12px;
    padding-bottom: 12px;
}

.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 54px;
}

/* Логотип */

.logo {
    width: 92px;
    height: 18px;
    margin-right: auto;
}

.logo__link {
    display: flex;
}

.header__nav {
    display: none;
}

/* User menu */

.user-menu {
    display: flex;
    align-items: center;
}

.user-menu__item {
    display: flex;
}

.user-menu__item:not(:first-child) {
    margin-left: 20px;
}

/* Языковая панель */

.languages {
    display: flex;
}

.languages__item {
    display: none;
    align-items: center;
}

.languages__item--active {
    display: flex;
}

.languages__link {
    display: flex;
    align-items: center;
}

.languages__icon {
    width: 20px;
    height: 20px;
}

.languages__name {
    display: none;
}

.login {
    display: none;
}

.burger-menu__btn {
    width: 24px;
    height: 20px;
    padding: 0;
}

/* main */

/* module */

.module {
    padding-top: 40px;
    padding-bottom: 40px;
}

.module__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--text-black);
}

/* hero */

.hero {
    padding-top: 30px;
}

.hero__info {
    text-align: center;
    margin-bottom: 30px;
}

.hero__subtitle {
    margin: 0;
    font-size: 16px;
    line-height: 140%;
    color: var(--green-1)
}

.hero__title {
    margin-bottom: 30px;
}

.hero__img-wrap {
    display: flex;
}

/* app */

.app__app {
    margin-bottom: 40px;
}

.app__video-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    margin-bottom: 30px;
}

.app__video {
    display: flex;
    width: 320px;
}

.app__video-play {
    display: flex;
    position: absolute;
    top: calc(50% - 26px);
    left: calc(50% - 37px);
    padding: 0;
    background: none;
}

.app__logo {
    display: flex;
}

.app__title {
    text-align: center;
    margin-bottom: 30px;
}

.app__logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 75px;
    height: 75px;
    margin-right: 15px;

    background: var(--white);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 12px;

}

.app__title-store {
    margin: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: var(--green-1);
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
}

.app__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.app__links {
    display: flex;
    justify-content: center;
}

.app__link {
    display: flex;
}

.app__link:not(:last-child) {
    margin-right: 20px;
}

/* Психологи */

.speakers__title {
    text-align: center;
    margin-bottom: 22.5px;
}

.themes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 22.5px;
}

.themes__item {
    margin: 7.5px;

    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.themes__item--active {
    box-shadow: 0px 4px 25px rgba(0, 185, 182, 0.25);
}

.themes__item--active .themes__link {
    color: var(--green-1);
}

.themes__link {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 30px;

    font-size: 14px;
    line-height: 120%;
    color: var(--black-lg);
}

.themes__item .btn--act {
    color: var(--white);
}

/* Звёздочки */

.stars__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.stars__star {
    margin-right: 5px;
    width: 14px;
    height: 14px;
    background-image: url("../images/icons/star-colored.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 5px;
}

.stars__star:last-child {
    margin-right: 0;
}


/* Слайдер */

.switches {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__switches {
    margin-top: 40px;
}

.switches__item {
    width: 20px;
    width: 27px;
    height: 7px;
    border-radius: 5px;
    background-color: rgba(0, 185, 182, 0.25);
    cursor: pointer;
}

.switches__item:not(:last-child) {
    margin-right: 7px;
}

.switches__item--active {
    width: 36px;
    background-color: var(--green-1);
}

/* Карточка психолога */

.psycho {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 24px;
    padding: 15px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
}

.slider__item {
    display: none;
}

.slider__item--active {
    display: flex;
}

.psycho__img-wrap {
    display: flex;
    width: 290px;
    height: 290px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.psycho__info {
    display: flex;
    align-items: center;
}

.psycho__name {
    margin: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
}

.psycho__link {
    display: flex;
    margin-left: auto;
    width: 24px;
    height: 24px;
}

/* Поможем вам */

.help__title {
    text-align: center;
    margin-bottom: 30px;
}

.help__list {
    margin-bottom: 20px;
}

.help__item {
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    line-height: 140%;
}

.help__item::before {
    position: absolute;
    content: url('../images/icons/bullet.png');
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}

.help__item:not(:last-child) {
    margin-bottom: 15px;
}

.help__img {
    width: 320px;
    height: 289px;
}

/* Преимущества advantages */

.advantages {
    padding-top: 90px;
}

.advantages .container {
    padding-left: 0;
    padding-right: 0;
}

.advantages__content {
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--lt-blue);
}

.advantages__img {
    position: relative;
    top: -50px;
    margin-bottom: -20px;

    display: flex;
    justify-content: center;
}

.advantages__title {
    text-align: center;
    margin-bottom: 30px;
}

.advantages__list {
    padding-left: 12px;
}

.advantages__item {
    position: relative;
}

.advantages__item::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -12px;
    width: 5px;
    height: 5px;
    background-color: var(--green-1);
    border-radius: 50%;
}

.advantages__item:not(:last-child) {
    margin-bottom: 20px;
}

.advantages__subtitle {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 120%;
    color: var(--text-black);
}

.advantages__text {
    margin: 0;
    font-size: 16px;
    line-height: 140%;
}

/* steps */

.steps {
    background-color: #fafbf9;
}

.steps__title {
    text-align: center;
    margin-bottom: 5px;
}

.steps__subtitle {
    margin: 0;
    margin-bottom: 30px;

    text-align: center;
    color: var(--green-1);
    font-size: 16px;
    line-height: 140%;
}

.steps__list {
    margin-bottom: 20px;
    counter-reset: list;
}

.step {
    position: relative;
    padding-top: 20px;
    padding-left: 30px;
}

.step:not(:last-child) {
    margin-bottom: 20px;
}

.step::before {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    top: -3px;
    left: 0;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    color: var(--green-1);
    opacity: 0.1;
}

.step__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 120%;
}

.step__text {
    margin: 0;
    font-size: 16px;
    line-height: 140%;
}

.help__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 335px;
}

/* О сервисе */

.about__title {
    text-align: center;
    margin-bottom: 40px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about__info {
    margin-bottom: 40px;
}

.about__stats {
    margin-bottom: 40px;
}

.stats__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats__item:not(:last-child) {
    margin-right: 20px;
    width: 94px;
    max-width: 94px;
}

.stats__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: var(--orange);
    margin: 0;
}

.stats__text {
    font-size: 14px;
    line-height: 140%;
    margin: 0;
    text-align: center;
}

.about__video-wrap {
    position: relative;
    height: auto;
}

.about__video {
    display: flex;
    width: 320px;
}

.about__video-play {
    display: flex;
    position: absolute;
    top: calc(50% - 26px);
    left: calc(50% - 37px);
    padding: 0;
    background: none;
}

.selection__item {
    display: flex;
    align-items: flex-start;

    background: var(--white);
    padding: 10px 20px 20px 10px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.selection__item:not(:last-child) {
    margin-bottom: 20px;
}

.selection__img-wrap {
    display: flex;
    margin-right: 10px;
}

.selection__info {
    padding-top: 10px;
}

.selection__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 10px;
}
.selection__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

/* Как это устроено - process */

.process__title {
    text-align: center;
    margin-bottom: 30px;
}

.line-steps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.process__switches {
    margin-bottom: 50px;
}

.line-steps__item {
    position: relative;
    display: flex;
    border-radius: 50px;
}

.line-steps__item:not(:last-child) {
    margin-right: 40px;
}

.line-steps__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;

    color: var(--green-1);
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;

    background-color: rgba(0, 185, 182, 0.1);
    border-radius: 50px;
}

.line-steps__item--active .line-steps__btn {
    background-color: var(--green-1);
    color: var(--white);
}

/* Услуги */

.price__title {
    margin-bottom: 30px;
}

.price__list {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.service {
    padding: 20px;
    color: var(--black-lg);

    background: rgba(0, 185, 182, 0.1);
    border-radius: 24px;
}

.service--popular {
    background: var(--green-1);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.service:not(:first-child) {
    margin-bottom: 32px;
}

.service .label__popular {
    display: none;
}

.service__title {
    margin: 0;
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}

.price-el {
    margin: 0;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
}

.service__price {
    margin-bottom: 30px;
}

.price-el__divider {
    font-size: 24px;
    line-height: 140%;
    font-weight: 400;
    margin-right: 5px;
}

.price-el__long {
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
}

.service__item:not(:last-child) {
    margin-bottom: 10px;
}

.service__item {
    position: relative;
    padding-left: 30px;

    font-size: 16px;
    line-height: 140%;
    color: var(--black-lg);
}

.service__item::before {
    position: absolute;
    content: url('../images/icons/bullet.png');
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}

.service__link.btn--act {
    display: flex;
    background: var(--white);
    color: var(--green-1);
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
}

.service__link {
    margin-top: 30px;
}

/* Стили для карточки "Популярное" */

.service--popular {
    color: var(--white);
}

.service--popular .service__item {
    color: var(--white);
}

.service--popular .service__item::before {
    content: url('../images/icons/bullet-1.png');
}

.service__calc {
    display: flex;
    padding: 12px 13px;
    /* justify-content: space-between; */
    margin-top: 30px;

    background-color: var(--white);
    border-radius: 12px;
}

.service__wrap {
    display: flex;
    align-items: center;
}

.service__wrap--time .service__input {
    max-width: 87px;
}

.service__wrap--price .service__input {
    max-width: 78px;
}

/* app 2 */

/* Отзывы */

.reviews__title {
    text-align: center;
    margin-bottom: 30px;
}

/* Карточка отзыва */
.review {
    max-width: 320px;
    padding: 20px;

    background-color: var(--white);

    color: var(--black-lg);

    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.reviw__wrap {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.review__img {
    width: 70px;
    height: 70px;
    margin-right: 15px;

    border-radius: 24px;
}

.review__stars {
    margin-bottom: 10px;
}

.review__author {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.review__author-profession {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
}

.review__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

/* Детский психолог онлайн */

.children__title {
    text-align: center;
    margin-bottom: 30px;
}

/* Карточка */

.children__card {
    margin-bottom: 30px;
}

.article__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
}

.article__text {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.article .article__text:not(:last-child) {
    margin-bottom: 10px;
}

.article__list {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 10px;
}

.article__list li:not(:last-child) {
    margin-bottom: 5px;
}

/* footer */

.footer {
    padding: 50px 0;
    background-color: var(--white);
}

.footer__logo {
    width: 126px;
    height: 30px;
    margin-bottom: 40px;
}

.footer__logo .logo__img {
    width: 126px;
    height: 30px;
}

.footer__nav .main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 190px;
    margin-bottom: 40px;
}

.footer__nav .main-menu__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 20px;
}

.footer__nav .main-menu__item {
    display: flex;
}

.footer__nav .menu__link {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: var(--black-lg);
    text-decoration: none;
}

/* ссылки на соцсети */

.footer .social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.social__item:not(:last-child) {
    margin-right: 20px;
}

.social__item {
    width: 40px;
    height: 40px;
    display: flex;
}

/* Контакты */

.contacts__item {
    position: relative;
    padding-left: 34px;
}

.contacts__item:not(:last-child) {
    margin-bottom: 20px;
}

.contacts__item::before {
    position: absolute;
    top: 2px;
    left: 0;
    width: 24px;
    height: 24px;
}

.contacts__item--mail::before {
    content: url('../images/icons/icon_mail.svg');
}

.contacts__item--address::before {
    content: url('../images/icons/icon_pin.svg');
}

.contacts__link {
    display: flex;

    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: var(--black-lg);
}
