/* fonts */
/*
@font-face {
    font-family: "Cuprum";
      font-weight: 400;
    font-style: normal;
      src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
  }
*/

/* variables */
:root {
    --white: #ffffff;
    --bg: #E5E5E5;
    --black: #000000;
    --black-lg: #333333;
    --text-black: #0E0E0F;
    --green-1: #00B9B6;
    --green-2: #00CDAC;
    --gray: #2E3A59;
    --orange: #FFA800;
}

/* base */

html,
body {
    margin: 0;
    padding: 0;
    min-width: 360px;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: var(--black-lg);
    /* background-color: var(--bg); */
    background: rgba(249, 253, 255, 0.7);
    backdrop-filter: blur(700px);
}

input,
textarea,
select,
button {
    font: inherit;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}

.btn {
    display: inline-block;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--white);

    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn--act {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 30px 14px;

    font-size: 18px;

    background: linear-gradient(225deg, #00B9B6 0%, #00CDAC 100%);
    box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
    border-radius: 12px;
}

.btn--mdl {
    padding: 10px 30px;
    font-weight: 700;
    font-size: 14px;
}

.btn--small {
    padding: 8px 15px;
    font-size: 12px;
}

.container {
    min-width: 360px;
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}

/*
@media (min-width: @tablet-width) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    max-width: 1300px;
    padding: 0 40px;
  }
}
*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* test */

* {
    outline: 1px solid gray;
}

/* header */

.header {
    padding-top: 12px;
    padding-bottom: 12px;
}

.header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 54px;
}

/* Логотип */

.logo {
    width: 92px;
    height: 18px;
    margin-right: auto;
}

.logo__link {
    display: flex;
}

.header__nav {
    display: none;
}

/* User menu */

.user-menu {
    display: flex;
    align-items: center;
}

.user-menu__item {
    display: flex;
}

.user-menu__item:not(:first-child) {
    margin-left: 20px;
}

/* Languages */

.languages {
    display: flex;
}

.languages__item {
    display: none;
    align-items: center;
}

.languages__item--active {
    display: flex;
}

.languages__link {
    display: flex;
    align-items: center;
}

.languages__icon {
    width: 20px;
    height: 20px;
}

.languages__name {
    display: none;
}

.login {
    display: none;
}

.burger-menu__btn {
    width: 24px;
    height: 20px;
}

/* main */

/* module */

.module {
    padding-top: 40px;
    padding-bottom: 40px;
}

.module__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: (--text-black);
}

/* hero */

.hero {
    padding-top: 30px;
}

.hero__info {
    text-align: center;
    margin-bottom: 30px;
}

.hero__subtitle {
    margin: 0;
    font-size: 16px;
    line-height: 140%;
    color: var(--green-1)
}

.hero__title {
    margin-bottom: 30px;
}

.hero__img-wrap {
    display: flex;
}

/* footer */
